<?xml version='1.0' encoding='utf-8'?>
<widget id="com.biakbiak.aetherweave" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Aether Weave</name>
    <description>
        Connect the nodes. Build your combo. Weave your destiny.
    </description>
    <author email="mnkim131@gmail.com" href="https://github.com/Biak-biak">
        Biak-biak
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="AndroidXEnabled" value="true" />
    
    <!-- This line is the FIX. It tells Cordova to use the newer Android version. -->
    <preference name="android-targetSdkVersion" value="34" />
    
    <plugin name="cordova-plugin-androidx-adapter" />
    <plugin name="admob-plus-cordova" />
    <preference name="app-id-android" value="ca-app-pub-6989088248302599~8993141386" />
</widget>
